<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="latest-news">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4 class="heading">{{mars_data.news_title}}</h4>
        <p>{{mars_data.news_p}}</p>
      </div>
    </div>

    <div class="row" id="featured-image">
        <div class="col-md-12">
          <h2>Featured Mars Image</h2>
          <img src="{{mars_data.featured_image_url}}" alt="Featured Image" />
        </div>
    </div>

    <div class="col-md-8" id="mars-facts">
        <div class="row">
          <h2>Mars Facts</h2>
          {{mars_data.html_mars_ftable | safe}}
        </div>
    </div>

    <div class="row" id="mars-hempisphere">
        <div class="col-md-12">
          <h2 class="text-center">Mars Hemispheres</h2>
          <div class="row">
              {% for item in mars_data.hemisphere_image_urls %}
          </div>
          <div class="col-sm-3" >
            <div class="thumbnail">
                <img src="{{ item.img_url }}"/>
                <div class="caption" style="text-align: center;">
                    <p>{{ item.title }}</p>
                </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>

</body>

</html>
